body{
  font-family: sans-serif;
  background-color:	#404040;
  color:white;
  text-align: center;
  }

ul{padding:0;
  list-style: none;
  overflow: hidden;
  }

li a{
  text-decoration: none;
  text-align: center;
  margin: auto;
  left: auto;
  right: auto;
  color: white;
  }

li a:hover{
  color: #434C56;
  }

#sc1{
  text-align: center;
  margin: auto;
  left: auto;
  right: auto;
  position: relative;
}
#sc2{
  position: relative;
  left: 5px;
}
#bio1{
  margin: 5%;
  margin-top: 20px;
}
.exe{
  text-align: left;
  margin-left: 5%;
}
.img{
  margin: 0px;
}
h6{
  text-align: right;
  font-size: 10px;
  font-style: italic;
  color: green;
  margin-top: 0px;
}
